@function rpx($px) {
    @return ($px * 100vw) / 414;
  }
.search {
    margin: rpx(12) rpx(17) rpx(8) rpx(17);
    height: rpx(40);
    background: rgba(240, 243, 245, 1);
    border-radius: rpx(8);
  }
  .margin-17{
    margin:rpx(17)
  }
  .title{
    height:rpx(44);
    line-height:rpx(44);
  }
  .block{
    position: fixed;
    top: 0;
    width: 100vw;;
  }
  .icon_logo {
    width: rpx(40);
    height: rpx(40);
  }
  .padding{
    padding: rpx(14) rpx(10) rpx(14) rpx(10);
  }