<ion-header>
  <!-- <ion-toolbar class="">
    <div>
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>搜索</ion-title>
    </div>
  </ion-toolbar> -->
  <div class=" flex-row flex-center border-bot block bg-white" (click)="navigate('search') ">
    <div class="search flex-row flex-center flex-1">
      <img src="{{assets}}res/search.png" class="icon-10 margin-left-10" />
      <input class='h8 flex-1 margin-left-20 margin-right-10' placeholder-class='h8' name='jigou'
        style='border: none;outline: none;background: transparent;' placeholder='{{lang.shuhao}}' focus='true'
        (keyup)="search($event)" [(ngModel)]="neiron" />
      
    </div>
    <div class="h8 margin-right-20 txt-blue" (click)='back()'>{{lang.quxiao}}</div>
  </div>
</ion-header>

<ion-content>

  <div class="height-50"></div>
  <!-- <div class=" flex-row flex-center border-bot block bg-white" (click)="navigate('search') ">
    <div class="search flex-row flex-center flex-1">
      <img src="{{assets}}res/search.png" class="icon-10 margin-left-10" />
      <input class='h8 flex-1 margin-left-20 margin-right-10' placeholder-class='h8' name='jigou'
        style='border: none;outline: none;background: transparent;' placeholder='{{lang.shuhao}}' focus='true'
        (keyup)="search($event)" [(ngModel)]="neiron" />
      
    </div>
    <div class="h8 margin-right-20 txt-blue" (click)='back()'>{{lang.quxiao}}</div>
  </div> -->

  <div class="margin-17" *ngIf='length>0'>
    <div class=" h7_5 title border-bot">{{lang.jieguo}}</div>

    <div class="  flex-row flex-center padding  border-bot" *ngFor='let item of modellist;let i=index'
      (click)='todetails(item.id,item.modelname,item.classifyname)'>
      <img src="{{uploadpath}}model/{{item.img}}" class="icon_logo" />
      <div class="h8   txt-blue margin-left-10">{{item.modelname}}/{{item.cutclassify_name}}</div>

    </div>
  </div>
</ion-content>