<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>配置wifi</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>




  <div class="flex-row flex-center white_block border-bot">
    <div class="txt-gray h8 flex-1">WiFi名称</div>
    <input class="h8 flex-1 margin-left-10" placeholder="请输入wifi名称"
      style='border: none;outline: none;background: transparent;'>
    <img class="margin-left-10" src="{{assets}}res/forward.png" class="icon-forward" />
  </div>

  <div class="flex-row flex-center white_block border-bot">
    <div class="txt-gray h8 flex-1">WiFi密码</div>
    <input class="h8 flex-1 margin-left-10" placeholder="请输入WiFi密码"
      style='border: none;outline: none;background: transparent;'>
    <img class="margin-left-10" src="{{assets}}res/forward.png" class="icon-forward" />
  </div>

  <div class="icon-100"></div>
  <div class="icon-100"></div>
  <div class="text-center txt-white h8 takebuttons" (click)='set()'>
    完成
  </div>


</ion-content>