<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>{{lang.chongqian}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="">

    <div class="h7_5 txt-bold margin-tlr">{{lang.xuanqian}}</div>

    <div class="flex-row flex-center flex-wrap">

      <!-- <div class="blocks flex-row flex-column bg-blue" *ngFor='let item of rechargelist'>
        <div class="flex-1"></div>
        <div class="h7 txt-white txt-bold">￥{{item.price}}</div>
        <div class="txt-white h8 ">{{item.count}}次</div>
        <div class="flex-1"></div>
      </div> -->

      <div class="blocks flex-row flex-column borders " [class.bg-blue]='check==i' (click)='choose(i)'
        *ngFor='let item of rechargelist;let i=index'>
        <div class="flex-1"></div>
        <div class="h7  txt-red txt-bold" [class.txt-white]='check==i'>￥{{item.price}}</div>
        <div class="h8  txt-gray" [class.txt-white]='check==i'>{{item.count}}{{lang.cishu}}</div>
        <div class="flex-1"></div>
      </div>

      <!-- <div class="blocks flex-row flex-column boders">
        <div class="flex-1"></div>
        <div class="h7  txt-red txt-bold">￥6</div>
        <div class="txt-gray  h8">60次</div>
        <div class="flex-1"></div>
      </div> -->


    </div>

    <div class="height-16 bg-gray margin-top-20"></div>

    <div class="h7_5 txt-bold margin-tlr2 border-bot">{{lang.tishi}}</div>

    <div class="h9 txt-gray margin-tlr"
      style="white-space:pre-wrap;word-wrap: break-word;word-break: break-all;overflow: hidden;">
      {{lang.qian1}}
      {{lang.qian2}}
      {{lang.qian3}}
    </div>

    <div class="flex-row flex-center padding-20">
      <div class="h9">{{lang.tongyi}}</div>
      <div class="h9 txt-blue">{{lang.qianxieyi}}</div>
    </div>


    <div class="height-40"></div>

    <div class="text-center txt-white h7 takebutton" (click)='zhifu()'>
      {{lang.nowchong}}
    </div>


  </div>

</ion-content>