<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img src="{{uploadpath}}resource/{{res.back}}" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>充值</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="">

    <div class="h7_5 txt-bold margin-tlr">请选择充值金额</div>

    <div class="flex-row flex-center flex-wrap">

      <!-- <div class="blocks flex-row flex-column bg-blue" *ngFor='let item of rechargelist'>
        <div class="flex-1"></div>
        <div class="h7 txt-white txt-bold">￥{{item.price}}</div>
        <div class="txt-white h8 ">{{item.count}}次</div>
        <div class="flex-1"></div>
      </div> -->

      <div class="blocks flex-row flex-column borders " [class.bg-blue]='check==i' (click)='choose(i)'
        *ngFor='let item of rechargelist;let i=index'>
        <div class="flex-1"></div>
        <div class="h7  txt-red txt-bold" [class.txt-white]='check==i'>￥{{item.price}}</div>
        <div class="h8  txt-gray" [class.txt-white]='check==i'>{{item.count}}次</div>
        <div class="flex-1"></div>
      </div>

      <!-- <div class="blocks flex-row flex-column boders">
        <div class="flex-1"></div>
        <div class="h7  txt-red txt-bold">￥6</div>
        <div class="txt-gray  h8">60次</div>
        <div class="flex-1"></div>
      </div> -->


    </div>

    <div class="height-16 bg-gray margin-top-20"></div>

    <div class="h7_5 txt-bold margin-tlr2 border-bot">温馨提示</div>

    <div class="h9 txt-gray margin-tlr"
      style="white-space:pre-wrap;word-wrap: break-word;word-break: break-all;overflow: hidden;">
      1.购买次数可用于切膜时使用。
      2.次数不可兑换现金、提现或转赠他人。
      3.充值后，不支持无理由退款。
    </div>

    <div class="flex-row flex-center padding-20">
      <div class="h9">点击立即支付，即表示您已经同意</div>
      <div class="h9 txt-blue">《充值协议》</div>
    </div>


    <div class="height-40"></div>

    <div class="text-center txt-white h7 takebutton" (click)='zhifu()'>
      立即支付
    </div>


  </div>

</ion-content>