<ion-header>
  <ion-toolbar>
    <div class="border-bot   ">
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>{{modelname}}</ion-title>
      <!-- {{lang.xiangqing}} -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{lang.sxzt}}"
      refreshingSpinner="circles"
      refreshingText="{{lang.sxz}}">
    </ion-refresher-content>
  </ion-refresher>


  <div *ngIf='modelinfo!=null'>

    <div class="mid_block flex-row flex-column">

      <!-- <img src="{{uploadpath}}model/{{modelinfo.cutimg}}" class="infoimg" /> -->
      <ion-img src="{{uploadpath}}model/{{modelinfo.cutimg}}" class="infoimg margin-top-10 margin-bottom-20"></ion-img>

      <div class="height-10"></div>
    </div>

    <div class="bottom_block padding-15  ">
      <div class="flex-row flex-center">
        <img src="{{assets}}res/qiemo.png" class="icon-12" />
        <div class="h7_5 margin-left-10 flex-1 txt-bold">{{lang.canshu}}</div>
        <img src="{{assets}}res/add.png" class="icon-10" (click)='addcommon(modelinfo.id)' />
        <div class="h8 margin-left-10" (click)='addcommon(modelinfo.id)'>{{lang.tianjiachangyon}}</div>
      </div>
    </div>

    <!-- <div class="flex-row flex-center flex-wrap  ">
    <div class="daoya text-center   h8  border" [class.blockstyle]='checks==i'
      *ngFor='let item of daoyalist;let i=index' (click)='check(i)'>{{item.name}}</div>
  </div> -->

    <div class="flex-row flex-center ">
      <div class="flex-1"></div>
      <div class="h8 " *ngIf='memberInfo.checking==1'>{{memberInfo.daoyaname1}}</div>
      <div class="h8 " *ngIf='memberInfo.checking==2'>{{memberInfo.daoyaname2}}</div>
      <div class="h8 " *ngIf='memberInfo.checking==3'>{{memberInfo.daoyaname3}}</div>
      <div class="h8 " *ngIf='memberInfo.checking==4'>{{memberInfo.daoyaname4}}</div>
      <div class="h8 " *ngIf='memberInfo.checking==5'>{{memberInfo.daoyaname5}}</div>
      <div class="flex-1"></div>
      <div class="h7_5">{{lang.daoya}}：</div>
      <div class="  h8  ">{{memberInfo.daoya}}</div>
      <div class="flex-1"></div>
      <div class="h7_5">{{lang.sudu}}</div>
      <div class="  h8 ">{{memberInfo.sudu}}</div>
      <div class="flex-1"></div>
    </div>

    <div class="flex-row flex-center padding-15 margin-top-10">
      <img src="{{assets}}res/printing.png" class="icon-12" />
      <div class="h7_5 margin-left-10   txt-bold">{{lang.shuoming}}</div>
    </div>

    <div class="txt h8">{{modelinfo.cy_explain}}</div>
    <div class="height-60"></div>
    <!-- <div class="text-center txt-white h7 takebutton" (click)='cut()'>
    立即切割
  </div> -->

    <div class="takebuttons">
      <div class="height-20"></div>
      <div class="flex-row flex-center ">
        <div class="flex-1"></div>
        <div class="btn text-center borders h7_5 txt-bold bg-white" (click)='backagain()'>{{lang.back}}</div>
        <div class="flex-1"></div>
        <div class="btn text-center txt-white bg-gray h7_5 txt-bold" *ngIf="device==null"  >{{lang.weibangdin}}</div>
        <div class="btn text-center txt-white bg-gray h7_5 txt-bold" *ngIf="device!=null&&online==false">{{lang.lixian}}</div> 
        <div *ngIf="device!=null&&online==true" class="btn text-center txt-white bg-blue h7_5 txt-bold"  (click)='cut(modelinfo.cutclassify_id,account.daoya,account.sudu,account.cutcount,account.vip_value)'>
          {{lang.lijiqiemo}}</div>
        <div class="flex-1"></div>
      </div>
    </div>

  </div>
 
  <div class="popupbg flex-row flex-center " *ngIf="statusnum>=0">
    <div class="leftspace"></div>
    <div class="midespace padding-20 flex-1">
      <div class="text-center" (click)='closetips()'>{{lang.chulizhong}} {{statusnum+1}}/{{kelustatus.length}}</div>
      <ion-progress-bar [value]="(statusnum+1)/kelustatus.length"></ion-progress-bar>
      <div class="h7 txt-gray">{{kelustatus[statusnum]}}</div>
      <div class="h7 txt-gray">{{cuterror}}</div>
      <div class="text-center">
        <ion-button (click)='closetips()' expand='block' *ngIf='cuterror!=""||(statusnum+1)==kelustatus.length'>{{lang.close}}</ion-button>
      </div>
    </div>
    <div class="leftspace"></div>
  </div>

</ion-content>