<ion-header>
  <ion-toolbar>
    <div class="border-bot   ">
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>刀压设置</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="blocks2 flex-row flex-center border-bot">
    <img src="{{assets}}res/check.png" class="icons margin-top-10" *ngIf='check==1' />
    <img src="{{assets}}res/nocheck.png" class="icons margin-top-10" (click)='checks(1,memberInfo.daoya1)'
      *ngIf='check!=1' />

    <div class="flex-1 padding-left-20 padding-right-20">
      <!-- <div class="h8 flex-1 margin-left-10 margin-top-10">{{memberInfo.daoyaname1}}</div> -->
      <div class="flex-row flex-center">
        <div class="h7_5">刀压一名称：</div>
        <ion-input class="  h7_5 border-bot" type='text' value="{{memberInfo.daoyaname1}}"
          (ionChange)="setname($event,1)" ></ion-input>
      </div>
      <div class="flex-row flex-center">
          <div class="h7_5">数值：</div>
          <ion-input class="txt-blue  h7_5 border-bot" type='text' value="{{memberInfo.daoya1}}"
            (ionChange)="changes($event,1)"></ion-input>
        </div>
      <!-- <ion-range (ionChange)='changes($event,1)' style="padding: 0;" value='{{value1}}' debounce='500' name='sudu'
        color="primary" class="range-knob-min flex-1" step='10' max='1000' min='10' pin="true">
        <ion-label slot="end" class="h8">{{value1}}</ion-label>
      </ion-range> -->
    </div>

    <!-- <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" /> -->
  </div>


  <div class="blocks2 flex-row flex-center border-bot">
    <img src="{{assets}}res/check.png" class="icons margin-top-10" *ngIf='check==2' />
    <img src="{{assets}}res/nocheck.png" class="icons margin-top-10" (click)='checks(2,memberInfo.daoya2)'
      *ngIf='check!=2' />

    <div class="flex-1 padding-left-20 padding-right-20">
      <!-- <div class="h8 flex-1 margin-left-10 margin-top-10">{{memberInfo.daoyaname1}}</div> -->
      <div class="flex-row flex-center">
        <div class="h7_5">刀压二名称：</div>
        <ion-input class="  h7_5 border-bot" type='text' value="{{memberInfo.daoyaname2}}"
          (ionChange)="setname($event,2)"></ion-input>
      </div>
      <div class="flex-row flex-center">
          <div class="h7_5">数值：</div>
          <ion-input class=" txt-blue h7_5 border-bot" type='text' value="{{memberInfo.daoya2}}"
            (ionChange)="changes($event,2)"  ></ion-input>
        </div>
      <!-- <ion-range (ionChange)='changes2($event,2)' style="padding: 0;" value='{{value2}}' debounce='500' name='sudu'
        color="primary" class="range-knob-min" step='10' max='1000' min='10' pin="true">
        <ion-label slot="end" class="h8">{{value2}}</ion-label>
      </ion-range> -->
    </div>

  </div>

  <div class="blocks2 flex-row flex-center border-bot">
    <img src="{{assets}}res/check.png" class="icons margin-top-10" *ngIf='check==3' />
    <img src="{{assets}}res/nocheck.png" class="icons margin-top-10" (click)='checks(3,memberInfo.daoya3)'
      *ngIf='check!=3' />

    <div class="flex-1 padding-left-20 padding-right-20">
      <!-- <div class="h8 flex-1 margin-left-10 margin-top-10">{{memberInfo.daoyaname1}}</div> -->
      <div class="flex-row flex-center">
        <div class="h7_5">刀压二名称：</div>
        <ion-input class="  h7_5 border-bot" type='text' value="{{memberInfo.daoyaname3}}"
          (ionChange)="setname($event,3)" ></ion-input>
      </div>
      <div class="flex-row flex-center">
          <div class="h7_5">数值：</div>
          <ion-input class="txt-blue  h7_5 border-bot" type='text' value="{{memberInfo.daoya3}}"
            (ionChange)="changes($event,3)" ></ion-input>
        </div>
      <!-- <ion-range (ionChange)='changes3($event,3)' style="padding: 0;" value='{{value3}}' debounce='500' name='sudu'
        color="primary" class="range-knob-min" step='10' max='1000' min='10' pin="true">
        <ion-label slot="end" class="h8">{{value3}}</ion-label>
      </ion-range> -->
    </div>

  </div>

  <div class="blocks2 flex-row flex-center border-bot">
    <img src="{{assets}}res/check.png" class="icons margin-top-10" *ngIf='check==4' />
    <img src="{{assets}}res/nocheck.png" class="icons margin-top-10" (click)='checks(4,memberInfo.daoya4)'
      *ngIf='check!=4' />


    <div class="flex-1 padding-left-20 padding-right-20">
      <!-- <div class="h8 flex-1 margin-left-10 margin-top-10">{{memberInfo.daoyaname1}}</div> -->
      <div class="flex-row flex-center">
        <div class="h7_5">刀压二名称：</div>
        <ion-input class="  h7_5 border-bot" type='text' value="{{memberInfo.daoyaname4}}"
          (ionChange)="setname($event,4)" ></ion-input>
      </div>

      <!-- <ion-range (ionChange)='changes4($event,4)' style="padding: 0;" value='{{value4}}' debounce='500' name='sudu'
        color="primary" class="range-knob-min" step='10' max='1000' min='10' pin="true">
        <ion-label slot="end" class="h8">{{value4}}</ion-label>
      </ion-range> -->
      <div class="flex-row flex-center">
          <div class="h7_5">数值：</div>
          <ion-input class="txt-blue  h7_5 border-bot" type='text' value="{{memberInfo.daoya5}}"
            (ionChange)="changes($event,4)" ></ion-input>
        </div>
    </div>

  </div>

  <div class="blocks2 flex-row flex-center border-bot">
    <img src="{{assets}}res/check.png" class="icons margin-top-10" *ngIf='check==5' />
    <img src="{{assets}}res/nocheck.png" class="icons margin-top-10" (click)='checks(5,memberInfo.daoya5)'
      *ngIf='check!=5' />

    <div class="flex-1 padding-left-20 padding-right-20">
      <!-- <div class="h8 flex-1 margin-left-10 margin-top-10">{{memberInfo.daoyaname1}}</div> -->
      <div class="flex-row flex-center">
        <div class="h7_5">刀压五名称：</div>
        <ion-input class=" h7_5 border-bot" type='text' value="{{memberInfo.daoyaname5}}"
          (ionChange)="setname($event,5)"></ion-input>
      </div>
      <div class="flex-row flex-center">
          <div class="h7_5">数值：</div>
          <ion-input class="txt-blue  h7_5 border-bot" type='text' value="{{memberInfo.daoya5}}"
            (ionChange)="changes($event,5)" ></ion-input>
        </div> 
      <!-- <ion-range (ionChange)='changes5($event,5)' style="padding: 0;" value='{{value5}}' debounce='500' name='sudu'
        color="primary" class="range-knob-min" step='10' max='1000' min='10' pin="true">
        <ion-label slot="end" class="h8">{{value5}}</ion-label>
      </ion-range> -->
    </div>

  </div>


</ion-content>