<ion-header>
  <ion-toolbar>
    <div class="border-bot   ">
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>刀压设置</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="padding_block flex-row flex-center border-bot">
    <img src="{{assets}}res/check.png" class="icons"   *ngIf='check==1'/>
    <img src="{{assets}}res/nocheck.png" class="icons" (click)='checks(1,memberInfo.daoya1)' *ngIf='check!=1'/>
    <!-- <img src="{{assets}}res/nocheck.png" class="icon-10" /> -->
    <div class="h8 flex-1 margin-left-10">刀压一</div>
    <input class="inputs h7_5 text-right" value="{{memberInfo.daoya1}}"  (keyup)="set($event)" (click)='click(1)' [(ngModel)]="daoya1"  name="1"/>
    <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" />
  </div>

  <div class="padding_block flex-row flex-center border-bot">
    <img src="{{assets}}res/check.png" class="icons"    *ngIf='check==2'/>
    <img src="{{assets}}res/nocheck.png" class="icons" (click)='checks(2,memberInfo.daoya2)' *ngIf='check!=2' />
    <div class="h8 flex-1 margin-left-10">刀压二</div>
    <input class="inputs h7_5 text-right" value="{{memberInfo.daoya2}}" (click)='click(2)'  (keyup)="set($event)" [(ngModel)]="daoya2"/>
    <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" />
  </div>


</ion-content>