<ion-header>
  <ion-toolbar>
    <div class="border-bot   ">
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>{{lang.setdaoya}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="h8 margin-left-20 margin-top-10  txt-red">注：刀压数值(0-1000，默认数值为300)</div>

  <div class="blocks2 flex-row flex-center border-bot">
    <img src="{{assets}}res/check.png" class="icons margin-top-10" *ngIf='check==1' />
    <img src="{{assets}}res/nocheck.png" class="icons margin-top-10" (click)='checks(1,daoya1)'
      *ngIf='check!=1' />

    <div class="flex-1 padding-left-20 padding-right-20">
      <!-- <div class="h8 flex-1 margin-left-10 margin-top-10">{{memberInfo.daoyaname1}}</div> -->
      <div class="flex-row flex-center">
        <div class="h7_5">{{lang.daoyaname1}}</div>
        <ion-input class="  h7_5 border-bot" type='text' value="{{memberInfo.daoyaname1}}"
        (ionBlur)="updatename(1)"   [(ngModel)]="daoyaname1" ></ion-input>
      </div>
      <div class="flex-row flex-center">
        <div class="h7_5 margin-right">{{lang.shuzhi}}</div>

        <ion-input class="txt-blue  h7_5 border-bot" type='number' value="{{memberInfo.daoya1}}"
           (ionBlur)="update(1)" [(ngModel)]="daoya1" oninput='if(value>1000)value=1000' max='1000'></ion-input>
      </div> 
     
    </div>

    <!-- <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" /> -->
  </div>



  <div class="blocks2 flex-row flex-center border-bot">
    <img src="{{assets}}res/check.png" class="icons margin-top-10" *ngIf='check==2' />
    <img src="{{assets}}res/nocheck.png" class="icons margin-top-10" (click)='checks(2,daoya2)'
      *ngIf='check!=2' />

    <div class="flex-1 padding-left-20 padding-right-20">
      <!-- <div class="h8 flex-1 margin-left-10 margin-top-10">{{memberInfo.daoyaname1}}</div> -->
      <div class="flex-row flex-center">
        <div class="h7_5">{{lang.daoyaname2}}</div>
        <ion-input class="  h7_5 border-bot" type='text' value="{{memberInfo.daoyaname2}}"
        (ionBlur)="updatename(2)" [(ngModel)]="daoyaname2"></ion-input>
      </div>
      <div class="flex-row flex-center">
        <div class="h7_5 margin-right">{{lang.shuzhi}}</div>
        <ion-input class=" txt-blue h7_5 border-bot" [max]="1000" type='number' value="{{memberInfo.daoya2}}"
        (ionBlur)="update(2)" [(ngModel)]="daoya2" oninput='if(value>1000)value=1000'></ion-input>
      </div>
    
    </div>

  </div>

  <div class="blocks2 flex-row flex-center border-bot">
    <img src="{{assets}}res/check.png" class="icons margin-top-10" *ngIf='check==3' />
    <img src="{{assets}}res/nocheck.png" class="icons margin-top-10" (click)='checks(3,daoya3)'
      *ngIf='check!=3' />

    <div class="flex-1 padding-left-20 padding-right-20">
      <!-- <div class="h8 flex-1 margin-left-10 margin-top-10">{{memberInfo.daoyaname1}}</div> -->
      <div class="flex-row flex-center">
        <div class="h7_5">{{lang.daoyaname3}}</div>
        <ion-input class="  h7_5 border-bot" type='text' value="{{memberInfo.daoyaname3}}"
        (ionBlur)="updatename(3)" [(ngModel)]="daoyaname3"></ion-input>
      </div>
      <div class="flex-row flex-center">
        <div class="h7_5 margin-right">{{lang.shuzhi}}</div>
        <ion-input class="txt-blue  h7_5 border-bot" type='number' value="{{memberInfo.daoya3}}"
        (ionBlur)="update(3)" [(ngModel)]="daoya3" oninput='if(value>1000)value=1000'></ion-input>
      </div>
     
    </div>

  </div>

  <div class="blocks2 flex-row flex-center border-bot">
    <img src="{{assets}}res/check.png" class="icons margin-top-10" *ngIf='check==4' />
    <img src="{{assets}}res/nocheck.png" class="icons margin-top-10" (click)='checks(4,daoya4)'
      *ngIf='check!=4' />


    <div class="flex-1 padding-left-20 padding-right-20">
      <!-- <div class="h8 flex-1 margin-left-10 margin-top-10">{{memberInfo.daoyaname1}}</div> -->
      <div class="flex-row flex-center">
        <div class="h7_5">{{lang.daoyaname4}}</div>
        <ion-input class="  h7_5 border-bot" type='text' value="{{memberInfo.daoyaname4}}"
        (ionBlur)="updatename(4)" [(ngModel)]="daoyaname4"  ></ion-input>
      </div>

  
      <div class="flex-row flex-center">
        <div class="h7_5 margin-right">{{lang.shuzhi}}</div>
        <ion-input class="txt-blue  h7_5 border-bot" type='number' value="{{memberInfo.daoya4}}"
        (ionBlur)="update(4)" [(ngModel)]="daoya4" oninput='if(value>1000)value=1000'></ion-input>
      </div>
    </div>

  </div>

  <div class="blocks2 flex-row flex-center border-bot">
    <img src="{{assets}}res/check.png" class="icons margin-top-10" *ngIf='check==5' />
    <img src="{{assets}}res/nocheck.png" class="icons margin-top-10" (click)='checks(5,daoya5)'
      *ngIf='check!=5' />

    <div class="flex-1 padding-left-20 padding-right-20">
    
      <div class="flex-row flex-center">
        <div class="h7_5">{{lang.daoyaname5}}</div>
        <ion-input class=" h7_5 border-bot" type='text' value="{{memberInfo.daoyaname5}}"
        (ionBlur)="setname(5)" [(ngModel)]="daoyaname5"></ion-input>
      </div>
      <div class="flex-row flex-center">
        <div class="h7_5 margin-right">{{lang.shuzhi}}</div>
        <ion-input class="txt-blue  h7_5 border-bot" type='number' value="{{memberInfo.daoya5}}"
        (ionBlur)="update(5)" [(ngModel)]="daoya5" oninput='if(value>1000)value=1000'></ion-input>
      </div>
   
    </div>

  </div>


</ion-content>