<ion-header>
  <ion-toolbar class="border-bot">
    <ion-title>
      分类
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="  "  >
 
    <div class="search flex-row flex-center" (click)="navigate('search')">
    <img src="{{assets}}res/search.png" class="icon-10 margin-left-10"/>
    <div class="txt-gray h8 margin-left-20">请输入品牌/型号关键词</div>
    </div>

    <div class="flex-row flex-center flex-wrap ">
      <div *ngFor='let item of classifylist;let i=index' class="typeblock  flex-row flex-column"  >
        <div class="typeblock2 text-center"  (click)="choosebrand(item.id)">
          <img src="{{uploadpath}}cutclassify/{{item.classifyicon}}" class="icon_type margin-top-20" />
          <div class=" h8">{{item.classifyname}}</div>
        </div>
      </div>
    </div>
 


  </div>

</ion-content>