@function rpx($px) {
  @return ($px * 100vw) / 414;
}
.border-top {
  border-top: rpx(1) solid #f0f0f0;
}
.typeblock {
    padding-left:4%;padding-top: 4%;
}
.typeblock2 {
    width: rpx(116);
    height: rpx(116);
    border-radius: rpx(20);
    border: rpx(1) solid rgba(240, 240, 240, 1);
  }
  .margin-lf-10{
      margin-left: rpx(-10);
      margin-right: rpx(-10);
  }
  .icon_type{
    width: rpx(28);
    height: rpx(44);
  }