
<ion-header>
  <ion-toolbar class="border-bot">
    <div class="flex-row flex-center">
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>{{lang.authlogin}}</ion-title>
     
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flex-row flex-column">
    <img src="{{assets}}res/nologin.png" class="head_img margin-top" />
    <div class="h8 margin-top-20">{{lang.qingdenglu}}</div>
  </div>
 

  <div class="icon-50"></div>

  
  <div class="text-center margin-top txt-white h8 takebuttons" (click)='authlogin(memberInfo.distributor_id)'>
    {{lang.authlogin}}
  </div>

  


</ion-content>