<ion-header>
    <ion-toolbar color='zhuye'>
        <ion-buttons slot="start">
          <ion-icon (click)="back()" class="txt-white" name="ios-arrow-back" style="font-size:px(20)"></ion-icon>
        </ion-buttons>
        <ion-title class="txt-white h4">{{lang.peizhifangshi}}</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button (click)='navigate("config-device-ap")'>{{lang.peiwang}}</ion-button>
  </div>
  <div>
    <ion-button (click)='navigate("config-device-sta")'>{{lang.sousuo}}</ion-button>
  </div>
</ion-content>
