<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>参数设置</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="blocks border-bot ">
    <div class="flex-row flex-center">
      <div class="h8 flex-1">刀压</div>
      <div class="h8">3档</div>
      <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" />
    </div>
  </div>
  <div class="blocks border-bot flex-row flex-center">
    <div class="h8 flex-1">速度</div>
    <div class="h8">3档</div>
    <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" />
  </div>

  <div class="blocks border-bot flex-row flex-center">
    <div class="h8 flex-1">齿轮比</div>
    <div class="h8">3档</div>
    <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" />
  </div>

  <div class="blocks border-bot flex-row flex-center">
    <div class="h8 flex-1">限位开关</div>
    <div class="h8">3档</div>
    <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" />
  </div>

  <div class="blocks border-bot flex-row flex-center">
    <div class="h8 flex-1">恢复出厂设置</div>
    <div class="h8">3档</div>
    <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" />
  </div>

</ion-content>