<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>{{lang.setcanshu}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="blocks border-bot ">
    <div class="flex-row flex-center"
      (click)='setfukuan(memberInfo.checking,memberInfo.daoya1,memberInfo.daoya2,memberInfo.daoya3,memberInfo.daoya4,memberInfo.daoya5)'>

      <div class="h8 flex-1" *ngIf='memberInfo.checking==1'>{{memberInfo.daoyaname1}}</div>
      <div class="h8 flex-1" *ngIf='memberInfo.checking==2'>{{memberInfo.daoyaname2}}</div>
      <div class="h8 flex-1" *ngIf='memberInfo.checking==3'>{{memberInfo.daoyaname3}}</div>
      <div class="h8 flex-1" *ngIf='memberInfo.checking==4'>{{memberInfo.daoyaname4}}</div>
      <div class="h8 flex-1" *ngIf='memberInfo.checking==5'>{{memberInfo.daoyaname5}}</div>

      <div class="h8">{{memberInfo.daoya}}</div>
      <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" />
    </div>
  </div>


  <div class="blocks2 border-bot flex-row flex-center">
    <div class="h8 flex-1 margin-top-10">{{lang.setsudu}}(0-800，{{lang.moren}}200)</div>
    <!-- <ion-range (ionChange)='changesudu($event,1)' step='10' value='{{memberInfo.sudu}}' debounce='500' name='sudu'
      color="primary" size="small" class="range-knob-min" max='800' pin="true">
      
      <ion-label slot="end" class="h8">{{values}}</ion-label>
    </ion-range> -->

    <ion-input class=" txt-blue h7_5 border-bot margin-right-10 text-right" type='number' value="{{memberInfo.sudu}}"
      (ionChange)="changesudu($event,1)"></ion-input>
  </div>

  <!-- 设置幅宽 -->
  <div class="blocks2 border-bot flex-row flex-center" >
    <div class="h8 flex-1 margin-top-10">{{lang.fukuan}}(0-1300mm，{{lang.moren}}190mm)</div>

    <div *ngIf="device==null" class="h8 txt-gray">
      {{lang.weibangshebei}}
    </div>
    <div *ngIf="device!=null&&online==false" class="h8 txt-gray">
      {{lang.sbbuzaixian}}
    </div>

   <div (click)='setfukuan()'  class="h8 txt-primary ">{{device.width}}</div>  
    <!-- <div *ngIf="device!=null&&online==true" class="h8 txt-primary ">
      <ion-input class=" txt-blue h7_5 border-bot margin-right-10 text-right inputwidth" type='number'
        [value]="device.width" (ionChange)="changefukuan($event)"></ion-input>
    </div> -->
    <img  *ngIf="device!=null&&online==true" src="{{assets}}res/forward.png" class="icon-forward margin-left-20"
      (click)='setfukuan()' />

  </div>


  <!-- 设置齿轮比 -->
  <div class="blocks border-bot flex-row flex-center">
    <div class="h8 flex-1">{{lang.chulunbi}}({{lang.moren}}{{lang.xzhou}}10000，{{lang.yzhou}}10000)</div>
    <!-- <input class="inputs h7_5 text-right" value="{{memberInfo.gear_ratio}}" (click)='click(2)' (keyup)="set($event)"
      [(ngModel)]="gearratio" /> -->
    <div *ngIf="device==null" class="h8 txt-gray">
      {{lang.weibangshebei}}
    </div>
    <div *ngIf="device!=null&&online==false" class="h8 txt-gray">
      {{lang.sbbuzaixian}}
    </div>
    <div *ngIf="device!=null&&online==true" class="h8 txt-primary"
      (click)='setchilun(memberInfo.x_axis,memberInfo.y_axis)'>
      {{device.gear}}
    </div>
    <img *ngIf="device!=null&&online==true" src="{{assets}}res/forward.png" class="icon-forward margin-left-20"
      (click)='setchilun(memberInfo.x_axis,memberInfo.y_axis)' />
  </div>


  <!-- 设置限位开关 -->
  <div class="blocks border-bot flex-row flex-center" >
    <div class="h8 flex-1">{{lang.xianweikaiguan}}</div>
    <!-- <div class="h8">{{memberInfo.xianwei}}</div> -->
    <div *ngIf="device==null" class="h8 txt-gray ">
      {{lang.weibangshebei}}
    </div>
    <div *ngIf="device!=null&&online==false" class="h8 txt-gray">
      {{lang.sbbuzaixian}}
    </div>
    <!-- <div *ngIf="device!=null&&online==true">
      <ion-toggle class="toggle-icon" [checked]="device.spacing==1" (ionChange)='changexianwei($event)'>
      </ion-toggle>
    </div> -->
    <!-- <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" /> -->
    <img *ngIf="device!=null&&online==true" src="{{assets}}res/forward.png" class="icon-forward margin-left-20" (click)='setkaiguan()' />
  </div>
  
  <div class="blocks border-bot flex-row flex-center">
    <div class="h8 flex-1">{{lang.banbenhao}}</div>
    <!-- <div class="h8">{{memberInfo.sudu}}</div> -->

    <div class="h8 flex-1  text-right">{{device.version}}</div>
  </div>

  <!-- 恢复出厂设置 -->
  <div class="blocks border-bot flex-row flex-center" (click)='chongzhi()'>
    <div class="h8 flex-1 txt-blue">{{lang.geshihua}}</div>
    <!-- <div class="h8">{{memberInfo.sudu}}</div> -->
    <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" />
  </div>



</ion-content>