<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>{{lang.setcanshu}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="blocks border-bot ">
    <div class="flex-row flex-center"
      (click)='setdaoya(memberInfo.checking,memberInfo.daoya1,memberInfo.daoya2,memberInfo.daoya3,memberInfo.daoya4,memberInfo.daoya5)'>

      <div class="h8 flex-1" *ngIf='memberInfo.checking==1'>{{lang.daoya}}({{memberInfo.daoyaname1}})</div>
      <div class="h8 flex-1" *ngIf='memberInfo.checking==2'>{{lang.daoya}}({{memberInfo.daoyaname2}})</div>
      <div class="h8 flex-1" *ngIf='memberInfo.checking==3'>{{lang.daoya}}({{memberInfo.daoyaname3}})</div>
      <div class="h8 flex-1" *ngIf='memberInfo.checking==4'>{{lang.daoya}}({{memberInfo.daoyaname4}})</div>
      <div class="h8 flex-1" *ngIf='memberInfo.checking==5'>{{lang.daoya}}({{memberInfo.daoyaname5}})</div>

      <div class="h8">{{memberInfo.daoya}}</div>
      <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" />
    </div>
  </div>


  <div class="blocks2 border-bot flex-row flex-center">
    <div class="h8 flex-1 margin-top-10">{{lang.setsudu}}(0-500，{{lang.moren}}200)</div> 
    <ion-input class=" txt-blue h7_5  suduinput m  text-right" type='number' max='500' value="{{memberInfo.sudu}}"
      (ionChange)="changesudu($event,1)"  ></ion-input>
      <img src="{{assets}}res/forward.png" class="icon-forward margin-left-10" />
  </div>


  <div class="blocks border-bot ">
    <div class="flex-row flex-center" (click)='sets()'> 
      <div class="h8 flex-1" *ngIf='memberInfo.checking==1'>{{lang.xitong}}</div>  
      <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" />
    </div>
  </div>
 
  <div class="blocks border-bot flex-row flex-center">
    <div class="h8 flex-1">{{lang.banbenhao}}</div> 
    <div class="h8 flex-1  text-right">{{device.version}}</div>
  </div>
  
  <div class="black_block"  *ngIf='show==true'></div>

  <div class="white_block2" *ngIf='show==true'>
    <div style="width: 100%;height: 100%;" class="flex-row flex-center">
      <div class="flex-1"></div>
      <div class="model bg-white ">

        <div class="padding-10">
          <div class="h7_5 txt-bold ">{{lang.password}}</div>
          <div class="h8  margin-top-10 txt-gray">{{lang.szcsyzmm}}</div>
          <input class='h8 input ' type='password' placeholder-class='h8' name='jigou' placeholder='{{lang.qsrzhmm}}' focus='true'
            [(ngModel)]="neiron" />
        </div>

        <div class="underbutton margin-top-10">
          <div class="flex-row flex-center" style="height: 100%;">
            <div class="h8 text-center flex-1 border-right" (click)='close()'>{{lang.quxiao}}</div>
            <div class="h8 txt-blue text-center flex-1" (click)='submit(memberInfo.account,memberInfo.sudu,memberInfo.xianwei_value,memberInfo.checking,memberInfo.daoya)'>{{lang.qd}}</div>
          </div>
        </div>

      </div>
      <div class="flex-1"></div>
    </div>
  </div>


</ion-content>


