.qrscanner {
    background: none;
    &-area {
      width: 100%;
      height: 86%;
      background-size: contain;
    }
  }
  .through-line {
    left: 25%;
    width: 50%;
    height: 2px;
    background: red;
    position: absolute;
    animation: myfirst 2s linear infinite alternate;
  }
  @keyframes myfirst {
    0% {
      background: red;
      top: 30%;
    }
    25% {
      background: yellow;
      top: 35%;
    }
    50% {
      background: blue;
      top: 40%;
    }
    75% {
      background: green;
      top: 45%;
    }
    100% {
      background: red;
      top: 50%;
    }
  }
  .button-bottom {
    width: 128px;
    position: absolute;
    left: 50%;
    bottom: 80px;
    margin-left: -64px;
    .icon-camera {
      float: left;
    }
}
.cfk{
    position: fixed;
    left: 0px;
    top: 0px;
    height:100vh;
    width:100vw;
    z-index: 9999;
}
.sq{
    width:20vw;
    height:20vw;
    border-color: white;
}
.bt{
    border-top: 1px white solid;
}
.bl{
    border-left: 1px white solid;
}
.bb{
    border-bottom: 1px white solid;
}
.br{
    border-right: 1px white solid;
}