<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img class="icon-10 active " src="assets/icon/tab1_1.png">
      <img class="icon-10 inactive" src="assets/icon/tab1_2.png">
      <ion-label class="margin-top-10">首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img class="icon-10 active " src="assets/icon/tab2_1.png">
      <img class="icon-10 inactive" src="assets/icon/tab2_2.png">
      <ion-label class="margin-top-10">产品</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img class="icon-10 active " src="assets/icon/tab3_1.png">
      <img class="icon-10 inactive" src="assets/icon/tab3_2.png">
      <ion-label class="margin-top-10">统计</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <img class="icon-10 active " src="assets/icon/tab4_1.png">
      <img class="icon-10 inactive" src="assets/icon/tab4_2.png">
      <ion-label class="margin-top-10">我的</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>