@function rpx($px) {
    @return ($px * 100vw) / 414;
  }
  .imgs{
      width: 100vw;
  }
  .takebuttons { 
    margin: rpx(15);
    height: rpx(48);
    line-height: rpx(48);
    background: rgba(44, 119, 229, 1);
    border-radius: rpx(30);
  }