<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>{{lang.tianjiashebei}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>

    <div class="padding-20 flex-row flex-center">
      <textarea class=" flex-1 txt-blue  h8  borders" placeholder="{{lang.shebeihao}}" type='text' [(ngModel)]='code'></textarea>
      
    </div>

    <div class="text-center margin-top txt-white h8 takebuttons" (click)='baocun(memberInfo.id)'>
      {{lang.bc}}
    </div>

  </ion-content>