<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>{{lang.tianjiashebei}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>

    <div class="padding-20 flex-row flex-center">
      <div class="h8 flex-1">设备号</div>
      <ion-input class=" txt-blue  h8 text-right borders" type='text' value="" (ionChange)="chang($event)"></ion-input>
      <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" />
    </div>

    <div class="text-center margin-top txt-white h8 takebuttons" (click)='baocun(memberInfo.id)'>
      保存
    </div>

  </ion-content>