@function rpx($px) {
    @return ($px * 100vw) / 414;
  }
.icon_logo {
  width: rpx(100);
  height: rpx(100);
}
.search {
  margin: rpx(17);
  height: rpx(40);
  background: rgba(240, 243, 245, 1);
  border-radius: rpx(8);
}
.height_block{
  height: rpx(80);
}
.block{
  position: fixed;
  z-index: 10;
  width: 100vw;
}
