<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img src="{{uploadpath}}resource/{{res.back}}" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>品牌</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor='let item of brandlist;let i=index' (click)="navigate('choosemodel')" class="flex-row flex-center padding-20 border-bot">
    <img src="{{uploadpath}}brand/{{item.brandlogo}}" class="icon_logo" />
    <div class="h8 margin-left-20 flex-1">{{item.name}}</div>
    <img src="{{uploadpath}}resource/{{res.forward}}" class="icon-forward" />
  </div>

</ion-content>