<ion-header>
  <ion-toolbar class="border-bot">
    <div class="flex-row flex-center">
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>{{lang.wodezhanghu}}</ion-title>
      <div class="flex-1"  *ngIf="account.distributor_haspayment=='Y'"></div>
      <div class="h8 txt-blue margin-right-20" (click)='recharge()' *ngIf="account.distributor_haspayment=='Y'">{{lang.qcz}}</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flex-row flex-center border-bot topblock">
    <div class="flex-row flex-column flex-1 padding-top-20" (click)='check("B")'>
      <div class="h7_5 txt-gray txt-bold" [class.txt-blue]='checks=="B"'>{{lang.allocaterecord}}</div>
      <div class="unders margin-top-16" [class.bg-blue]='checks=="B"'></div>
    </div>
    <div class="flex-row flex-column flex-1 padding-top-20"  *ngIf="account.distributor_haspayment=='Y'" (click)='check("A")' >
      <div class="h7_5 txt-gray txt-bold" [class.txt-blue]='checks=="A"'  >{{lang.chongzhijilu}}</div>
      <div class="unders margin-top-16" [class.bg-blue]='checks=="A"'></div>
    </div>
  </div>

  <div>





    <div class="height120"></div>

    <div *ngIf='checks=="A"'>
      <div class="flex-row flex-center blocks border-bot" *ngFor='let item of buyrecordlist'>
        <div class="flex-1">
          <div class="h7_5">{{lang.chongqian}} {{item.buycount}} {{lang.cishu}}</div>
          <div class="h9 txt-gray">{{item.buytime_formatting}}</div>
        </div>
        <div class="txt-red h8">-￥{{item.buyprice}}</div>
      </div>
    </div>
    

    <div *ngIf='checks=="B"'>
      <div class="flex-row flex-center blocks border-bot" *ngFor='let item of allocationlist'>
        <div class="flex-1">
          <div class="h7_5">{{lang.allocate}} {{item.count}} {{lang.cishu}}</div>
          <div class="h9 txt-gray">{{item.fenpeitime_formatting}}</div>
        </div>
      </div>
    </div>


  </div>

</ion-content>