<ion-header>
  <ion-toolbar>

    <ion-title class="h7">欢迎使用智能切膜机</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flex-row flex-column">
    <img src="{{assets}}res/nologin.png" class="head_img margin-top" />
    <div class="h8 margin-top-20">请登录</div>
  </div>

  <div class="icon-50"></div>

  <div class="margin-20">
    <div class="h8">账户</div>
    <div class=" border-bot  "><ion-input class="inputs h7_5" placeholder="请输入账户" [(ngModel)]="username" ></ion-input></div>

    <div class="h8 margin-top-10">密码</div>
    <div class=" border-bot  "><ion-input class="inputs h7_5" placeholder="请输入密码" type='password' [(ngModel)]="password" ></ion-input></div>


    <div class="flex-row flex-center padding-top-10" (click)='forgetpassword()'  >
      <div class="flex-1"></div>
      <div class="txt-blue h7_5"  >忘记密码</div>
      <img src="{{assets}}res/blue_right.png" class="icon-right margin-left-15" />
    </div>

  </div>


  <div class="text-center margin-top txt-white h8 takebuttons" (click)='login()'>
    登录
  </div>


</ion-content>