@function rpx($px) {
    @return ($px * 100vw) / 414;
  }
  .head_img{
    width:rpx(72);
    height:rpx(72);
  }
  .inputs{
    border: none;
    outline: none;
    background: transparent;
  }
  .blocks{
    padding-bottom: rpx(10);
  }
  .icon-right{
    width:rpx(12);
    height:rpx(12);
  }
  .takebuttons {
    // position: fixed;
    // z-index: 10;
    // width: 92%;
    // bottom: 15%;
    margin: rpx(15);
    height: rpx(48);
    line-height: rpx(48);
    background: rgba(44, 119, 229, 1);
    border-radius: rpx(30);
  }