
<ion-content id="ctv">
  

</ion-content>
<div class="cfk">
    <div style="height:100%;width:100%;" class="flex-row flex-center">
      <div class="flex-1"></div>
      <div>
        <div style='height:10vh;'></div>
        <div class="flex-row">
            <div class="sq bt bl"></div>
            <div class="sq"></div>
            <div class="sq bt br"></div>
        </div>
        <div class="flex-row">
            <div class="sq"></div>
            <div class="sq"></div>
            <div class="sq"></div>
        </div>
        <div class="flex-row">
            <div class="sq bb bl"></div>
            <div class="sq"></div>
            <div class="sq bb br"></div>
        </div>
        <div style='height:10vh;'></div>
        <div class="text-center txt-white" (click)='back()'>{{lang.noqrcode}}</div>
      </div>
      <div class="flex-1"></div>
    </div>
  </div>