<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>关于本机</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="text-center">
    <div class="icon-50"></div>
    <!-- <img src="{{uploadpath}}resource/{{res.aaa}}" class="icon-50" /> -->
    <qr-code [value]="'device.deviceno'" level='Q'></qr-code>

    <div class="h7_5 margin-top-20">智能切膜机</div>
    <div class="h8 margin-top-10">版本号：1.01</div>
    <div class="height-20  "></div>
  </div>
  <div class="height-20 bg-gray"></div>

  <div class="flex-row flex-center white_block border-bot">
    <div class="h8 flex-1   flex-1">设备序列号</div>
    <div class="h8 flex-1 margin-left-10 text-right">{{device.deviceno}}</div>
  </div>

  <div class="flex-row flex-center white_block border-bot">
    <div class="h8 flex-1   flex-1">IP地址</div>
    <div class="h8 flex-1 margin-left-10 text-right">192.168.1.1</div>
  </div>

  <div class="flex-row flex-center white_block border-bot">
    <div class="h8 flex-1  flex-1">电源</div>
    <div class="h8 flex-1 margin-left-10 text-right">220V</div>
  </div>

  <div class="flex-row flex-center white_block border-bot">
    <div class="h8 flex-1  flex-1">刀头使用次数</div>
    <div class="h8 flex-1 margin-left-10 text-right">0</div>
  </div>

</ion-content>