

@function rpx($px) {
    @return ($px * 100vw) / 750;
}

.zhuce {
    height: rpx(100);
    background: #fff;
    line-height: rpx(100);
}

.zhuce-active {
    color: #fff;
    background: #195ED7;
}

.bg-zhuce{
    width: rpx(638);
    height: rpx(80);
    background: #195ED7;
    border-radius: rpx(20);
}
.icon-40 {
    width: rpx(40);
    height: rpx(40);
}
div,
navigator,
input,
text,
textarea {
    font-size: rpx(32);
    font-weight: 350;
    color: black;
}