<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img src="{{uploadpath}}resource/{{res.back}}" class="icon-back margin-left-20"
        (click)='backToUrl("tabs/tab1")' />
      <ion-title>完善个人资料</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="blocks flex-row flex-center   border-bot">
    <div class="h7 txt-red">*</div>
    <div class="h8 txt-gray margin-left-10">姓名</div>
    <ion-input class="h8 margin-right-20 margin-left-10 text-right" placeholder="请输入您的姓名" [(ngModel)]="name">
    </ion-input>
    <img src="{{uploadpath}}resource/{{res.forward}}" class="icon-10" />
  </div>

  <div class="blocks flex-row flex-center   border-bot">
    <div class="h7 txt-red">*</div>
    <div class="h8 txt-gray margin-left-10">电话</div>
    <ion-input class="h8 margin-right-20 margin-left-10 text-right" placeholder="请输入您的手机号码" [(ngModel)]="mobile">
    </ion-input>
    <img src="{{uploadpath}}resource/{{res.forward}}" class="icon-10" />
  </div>

  <div class="blocks flex-row flex-center   border-bot">
    <div class="h7 txt-red">*</div>
    <div class="h8 txt-gray margin-left-10">邮箱</div>
    <ion-input class="h8 margin-right-20 margin-left-10 text-right" placeholder="请输入您的邮箱" [(ngModel)]="email">
    </ion-input>
    <img src="{{uploadpath}}resource/{{res.forward}}" class="icon-10" />
  </div>

  <div class="blocks flex-row flex-center   border-bot">
    <div class="h7 txt-red">*</div>
    <div class="h8 txt-gray margin-left-10">地址</div>
    <ion-input class="h8 margin-right-20 margin-left-10 text-right" placeholder="请输入您的地址" [(ngModel)]="address">
    </ion-input>
    <img src="{{uploadpath}}resource/{{res.forward}}" class="icon-10" />
  </div>

  <div class="h8 txt-gray padding-20">温馨提示：为保障您的权益，请完善个人资料，忘记密码时可通过验证个人资料，找回密码！</div>

  <div class="text-center txt-white h8 takebuttons" (click)='update()'>
    完成
  </div>

</ion-content>