
@function rpx($px) {
    @return ($px * 100vw) / 414;
  }
.blocks{
   padding: rpx(10) 0 rpx(10) 0;
   margin: 0 rpx(20) 0 rpx(20);
}
.icon-10{
    height: rpx(16);
    width: rpx(10);
}

.takebuttons {
    // position: fixed;
    // z-index: 10;
    // width: 92%;
    // bottom: 15%;
    margin: rpx(15);
    height: rpx(48);
    line-height: rpx(48);
    background: rgba(44, 119, 229, 1);
    border-radius: rpx(30);
  }