<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img *ngIf="types=='A'" src="{{assets}}res/back.png" class="icon-back margin-left-20"
        (click)='back()' />
        <img *ngIf="types!='A'" src="{{assets}}res/back.png" class="icon-back margin-left-20"
        (click)='backToUrl("tabs/tab1")' />
        <!-- (click)='backToUrl("tabs/tab1")' -->
      <ion-title>{{types=='A'?lang.grzl:lang.wsgrzl}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="blocks flex-row flex-center   border-bot">
    <div class="h7 txt-red">*</div>
    <div class="h8 txt-gray margin-left-10">{{lang.name}}</div>
    <ion-input class="h8 margin-right-20 margin-left-10 text-right" [value]='memberInfo.name' placeholder="{{lang.qsxm}}" [(ngModel)]="name">
    </ion-input>
    <img src="{{assets}}res/forward.png" class="icon-10" />
  </div>

  <div class="blocks flex-row flex-center   border-bot">
    <div class="h7 txt-red">*</div>
    <div class="h8 txt-gray margin-left-10">{{lang.phone}}</div>
    <ion-input class="h8 margin-right-20 margin-left-10 text-right" [value]='memberInfo.mobile' placeholder="{{lang.qshm}}" [(ngModel)]="mobile">
    </ion-input>
    <img src="{{assets}}res/forward.png" class="icon-10" />
  </div>

  <div class="blocks flex-row flex-center   border-bot">
    <div class="h7 txt-red">*</div>
    <div class="h8 txt-gray margin-left-10">{{lang.yx}}</div>
    <ion-input class="h8 margin-right-20 margin-left-10 text-right" [value]='memberInfo.email' placeholder="{{lang.qsyx}}" [(ngModel)]="email">
    </ion-input>
    <img src="{{assets}}res/forward.png" class="icon-10" />
  </div>

  <div class="blocks flex-row flex-center   border-bot">
    <div class="h7 txt-red">*</div>
    <div class="h8 txt-gray margin-left-10">{{lang.dz}}</div>
    <ion-input class="h8 margin-right-20 margin-left-10 text-right" [value]='memberInfo.address' placeholder="{{lang.qsdz}}" [(ngModel)]="address">
    </ion-input>
    <img src="{{assets}}res/forward.png" class="icon-10" />
  </div>

  <div class="h8 txt-gray padding-20">{{lang.wxts}}</div>

  <div class="text-center txt-white h8 takebuttons"  (click)='update()'>
    {{lang.ok}}
  </div>

</ion-content>