<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="top-block flex-row flex-column padding-20 bg-black">
    <div class="txt-white h7">欢迎使用智能切膜机</div>
    <div class="margin-top-10 h9 txt-white opa8">当前未设备连接，请点击手机WiFi连接设备</div>
  </div>
  <div class="top_img flex-row flex-center ">
    <div class="flex-1"></div>
    <div><img src="{{uploadpath}}resource/{{res.machine}}" class="imgs"></div>
    <div class="flex-1"></div>
  </div>

  <div class="mid_black"></div>

  <div class="bottom_block">

    <div class="flex-row flex-center check_block">

      <div class="flex-row flex-column flex-1 padding-top-20" (click)='check("A")'>
        <div class="h7_5 txt-gray" [class.txt-blue]='checks=="A"'>热门型号</div>
        <div class="unders margin-top-20" [class.bg-blue]='checks=="A"'></div>
      </div>
      <div class="flex-row flex-column flex-1 padding-top-20" (click)='check("B")'>
        <div class="h7_5 txt-gray" [class.txt-blue]='checks=="B"'>常用型号</div>
        <div class="unders margin-top-20" [class.bg-blue]='checks=="B"'></div>
      </div>
    </div>

  </div>

  <div *ngIf='checks=="A"'>

    <div *ngFor='let item of modellist' class="margin-20 flex-row flex-center">
      <img src="{{uploadpath}}brand/{{item.brand_brandlogo}}" class="icon-20" />
      <div class="h8 margin-left-10 flex-1">{{item.modelname}}/{{item.cutclassify_id_name}}</div>
      <div class="h8">394</div>
    </div>

  </div>

  <div *ngIf='checks=="B"'>
    <div *ngFor='let item of modellist' class="margin-20 flex-row flex-center">
      <img src="{{uploadpath}}brand/{{item.brand_brandlogo}}" class="icon-20" />
      <div class="h8 margin-left-10 flex-1">{{item.modelname}}/{{item.cutclassify_id_name}}</div>
      <div class="h8">100</div>
    </div>

  </div>


</ion-content>