@function rpx($px) {
  @return ($px * 100vw) / 414;
}
.top_img {
  height: rpx(262);
  width: 100vw;
  background: linear-gradient(179deg, rgba(0, 0, 0, 1) 0%, rgba(75, 75, 75, 1) 100%);
}
.imgs {
  height: rpx(200);
  width: rpx(348);
}
.opa8 {
  opacity: 0.7;
}
.mid_black {
  // height: rpx(60);
  padding: rpx(30) rpx(20) rpx(40) rpx(20);
  background: black;
}
.bottom_block {
  border-top-left-radius: rpx(10);
  border-top-right-radius: rpx(10);
  margin-top: rpx(-10);
  background: white;
}
.unders {
  width: rpx(24);
  height: rpx(4);
  // background: rgba(44, 119, 229, 1);
  border-radius: rpx(4);
}
.show {
  display: none;
}
.check_block {
  // padding: rpx(30) rpx(20) 0 rpx(20);
  border-bottom: rpx(1) solid #e0dfdf;
}
.iconmid {
  width: rpx(60);
  height: rpx(60);
}
.play {
  width: rpx(60);
  height: rpx(60);
}
.icon-20 {
  width: rpx(32);
  height: rpx(32);
}
.blocks{
  margin: 0 rpx(20) 0 rpx(20);
  padding: rpx(20) 0 rpx(20) 0;
}
.aa:hover{
  opacity: 0.1;
}
