@function rpx($px) {
  @return ($px * 100vw) / 414;
}
.topblock {
  position: fixed;
  z-index: rpx(10);
  width: 100vw;
  height: rpx(54);
  line-height: rpx(54);
}
.bg_top {
  --background: transparent !important;
}
.topimg {
  height: rpx(280);
  width: 100%;
}
.headimg {
  width: rpx(72);
  height: rpx(72);
}
.bottom_block {
  border-top-left-radius: rpx(20);
  border-top-right-radius: rpx(20);
  margin-top: rpx(-10);
  background: white;
}
.white_block {
  padding: rpx(16) 0 rpx(16) 0;
}
.icons {
  width: rpx(24);
  height: rpx(24);
}

.black_block {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
}
.white_block2 {
  position: fixed;
  z-index: 101;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.input {
  border-radius: rpx(8);
  border: none;
  outline: none;
  background: #f0f0f0;
  padding: rpx(6) rpx(10) rpx(6) rpx(10);
  width: rpx(338);
}
.model {
  width: rpx(360);
  height: rpx(186);
  //background: rgba(255, 255, 255, 1);
  border-radius: rpx(8);
}