<ion-header>
    <ion-toolbar class="border-bot">
      <div class="flex-row flex-center">
        <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
        <ion-title>{{lang.zhinengqiemo}}</ion-title>
        <div class="flex-1"></div>
      </div>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
    <div class="padding">
      <div class="h7 txt-gray">{{lang.shebeihao}}</div>
      <div>
          <ion-textarea class="h6" [(ngModel)]="deviceno"></ion-textarea>
      </div>
      <div class="margin-top">
        <ion-button expand="block" (click)='send("SYNC","")'>{{lang.shuaxinshuju}}</ion-button>
      </div>
      <hr />
      <div class="h7 txt-gray">{{lang.shebeixinxi}}</div>
      <div *ngIf="deviceinfo!=null">
        <div class="flex-row flex-center">
          <div class="txt-gray h7 margin-right">{{lang.daosu}}</div>
          <div class="flex-1 h7"><input type="text" [(ngModel)]='deviceinfo.speed' /></div>
          <ion-button (click)='send("SPEED",deviceinfo.speed)'>{{lang.xiugai}}</ion-button>
        </div>
        <div class="flex-row flex-center">
          <div class="txt-gray h7 margin-right">{{lang.daoya}}</div>
          <div class="flex-1 h7"><input type="text" [(ngModel)]='deviceinfo.pressure' /></div>
          <ion-button (click)='send("PRESSURE",deviceinfo.pressure)'>{{lang.xiugai}}</ion-button>
        </div>
        <div class="flex-row flex-center">
          <div class="txt-gray h7 margin-right">{{lang.chulunbi}}</div>
          <div class="flex-1 h7"><input type="text" [(ngModel)]='deviceinfo.gear' /></div>
          <ion-button (click)='send("GEAR",deviceinfo.gear)'>{{lang.xiugai}}</ion-button>
        </div>
        <div class="flex-row flex-center">
          <div class="txt-gray h7 margin-right">{{lang.xianwei}}</div>
          <div class="flex-1 h7"><input type="text" [(ngModel)]='deviceinfo.spacing' /></div>
          <ion-button (click)='send("SPACING",deviceinfo.spacing)'>{{lang.xiugai}}</ion-button>
        </div>
        <div class="flex-row flex-center ">
          <div class="txt-gray h7 margin-right">{{lang.fukuan}}</div>
          <div class="flex-1 h7"><input type="text" [(ngModel)]='deviceinfo.width' /></div>
          <ion-button (click)='send("WIDTH",deviceinfo.width)'>{{lang.xiugai}}</ion-button>
        </div>
        <div class="flex-row flex-center ">
          <div class="flex-1 h7">{{lang.gengxintime}}{{deviceinfo.lastupdatetime}}</div>
        </div>
        <div class="margin-top">
          <ion-button expand="block" (click)='trycutter()'>{{lang.shike}}</ion-button>
        </div>
        <hr />
        <div>
          <div class="h7 txt-gray">{{lang.kelu}}</div>
          <div class="flex-row flex-center" *ngFor="let item of modellist">
            <div class="flex-1">{{item.modelname}}</div>
            <ion-button (click)='send("WRITE",item.id)'>{{lang.kelu}}</ion-button>
          </div>
        </div>

        <div class="h7 txt-gray">{{lang.zhongzhi}}</div>
        <div >
            <ion-button expand="block" (click)='send("RESET",0)'>{{lang.moshi0}}</ion-button>
          </div>
          <div >
              <ion-button expand="block" (click)='send("RESET",1)'>{{lang.moshi1}}</ion-button>
            </div>
            <div >
                <ion-button expand="block" (click)='send("RESET",2)'>{{lang.moshi2}}</ion-button>
              </div>
      </div>
    </div>
</ion-content>
