<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>{{lang.peizhiwifi}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div *ngIf="step==0" class="text-center">
    <div class="h7_5 margin-top">请启动设备，查看设备是否红灯闪烁</div>
    <img src="{{assets}}res/apwifi.png" class="midimg margin-top" />

    <div class="margin-top-80">
      <div class="takebuttons h7_5 txt-white " (click)='tryapconnect(1)'>红灯已闪烁</div>

      <div class="h8 margin-top-20 txt-gray">如果设备红灯未闪烁，请按Reset键5秒直到红灯闪烁</div>
    </div>
  </div>

  <div *ngIf="step==1" class="text-center">
    <div class="h7_5 margin-top" *ngIf="currentwifiname!=''">当前的wifi网络：{{currentwifiname}}</div>
    <div class="h7_5 margin-top">设备将开启带有“XiaoMai_Wifi123”字段的Wifi</div>
    <img src="{{assets}}res/apwifi.png" class="midimg margin-top" />

    <div class="h8 margin-top-20 txt-gray " *ngIf="currentwifiname.indexOf('ms-wifi')<0" >未连接到设备wifi</div>
     <div class="h8 margin-top-20 txt-primary"  *ngIf="currentwifiname.indexOf('ms-wifi')>-1">已连接到设备wifi</div>
    <div class="margin-top-80">
      <div class="takebuttons h7_5 txt-white " (click)='gotosetting()' *ngIf="currentwifiname.indexOf('XiaoMai')<0">前往设置界面连接设备</div>
      <div class="takebuttons h7_5 txt-white "  (click)='tryapconnect(2)' *ngIf="currentwifiname.indexOf('XiaoMai')>-1">下一步，前往配置wifi信息</div>
 
    </div>
  </div>

  <div *ngIf="step==2">

    <div class="flex-row flex-center white_block border-bot">
      <div class="txt-gray h8 flex-1">{{lang.wifiname}}</div>
      <input class="h8 flex-1 margin-left-10" placeholder="{{lang.tishiwifiname}}" [(ngModel)]="wifiname"
        style='border: none;outline: none;background: transparent;'>
      <img class="margin-left-10" src="{{assets}}res/forward.png" class="icon-forward"
        (click)='navigate("wifiselect")' />
    </div>

    <div class="flex-row flex-center white_block border-bot">
      <div class="txt-gray h8 flex-1">{{lang.wifipassword}}</div>
      <input class="h8 flex-1 margin-left-10" placeholder="{{lang.tspassword}}" [(ngModel)]="wifipassword"
        style='border: none;outline: none;background: transparent;'>
    </div>

    <div class="text-center txt-white  h8 takebuttons margin-top" (click)='setSTAWIFI()'>
      {{lang.ok}}
    </div>

  </div>

  
  <div *ngIf="step==3" class="text-center">
    <div class="h7_5 margin-top">设备配网成功！</div>
    <img src="{{assets}}res/apwifi.png" class="midimg margin-top" />

    <div class="margin-top-80">
      <div class="takebuttons h7_5 txt-white " (click)='back()'>确定</div> 
    </div>
  </div>

  <div *ngIf="step==4" class="text-center">
    <div class="h7_5 margin-top">配网设置失败，请重启设备重新配置！</div>
    <img src="{{assets}}res/apwifi.png" class="midimg margin-top" />

    <div class="margin-top-80">
      <div class="takebuttons h7_5 txt-white " (click)='tryapconnect(0)'>重新配置</div>

      <div class="h8 margin-top-20 txt-gray">如果设备红灯未闪烁，请按Reset键5秒直到红灯闪烁</div>
    </div>
  </div>
 

 
</ion-content>