@function rpx($px) {
    @return ($px * 100vw) / 414;
  }
  .imgs{
      width: 100vw;
  }
  .white_block {
    padding: rpx(20) 0 rpx(20) 0;
    margin: 0 rpx(20) 0 rpx(20);
  }
  .takebuttons { 
      margin: rpx(15);
      height: rpx(48);
      line-height: rpx(48);
      background: rgba(44, 119, 229, 1);
      border-radius: rpx(30);
    }
  .midimg{
    width: rpx(236);
    height: rpx(276);
  }
  .midimg2{
    width: rpx(280);
    height: rpx(480);
  }
.back_block{
  width: rpx(260);
  height: rpx(40);
  line-height: rpx(40); 
  border-radius: rpx(40);
  border: rpx(1) solid rgb(177, 247, 177);
}

  .tanchuang{
    position: fixed;
    z-index: 100; 
    top: 0;
    bottom: 0;
    width: 100vw;
    background: rgba(0, 0, 0,0.5); 
  }
  
  .tanchuang2{ 
    height: rpx(640);
    width: rpx(360); 
    margin-top: 10%;
    background: white;
    border-radius: rpx(20);
  }
  .loading_icon{
    width: rpx(300);
    height: rpx(200);
  }
  .midimg2{
    width: rpx(100);
    height: rpx(120);
  }
  .midimg3{
    width: rpx(140);
    height: rpx(120);
  }
  .midimg4{
    width: 100%;
    height: rpx(200);
  }
  .midimg5{
    width: 100%;
    height: rpx(600);
  }
   