<ion-header>
  <ion-toolbar class="border-bot">
    <div>
      <img  src="{{assets}}res/back.png" class="icon-back margin-left-20"
        (click)='back()' />
        <!-- (click)='backToUrl("tabs/tab1")' -->
      <ion-title>{{lang.selectwifi}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div >
    <div *ngFor="let item of list" class="padding-10 bor_bot">
      <div class="flex-row flex-center  " (click)='returnconn(item)' >
        <div class="flex-1 h5">{{item}}</div>
        <div >
          <img src="/assets/res/blue_right.png" class="icon-10" />
        </div>
      </div>
    </div>
  </div>
</ion-content>
