<!-- <ion-header>
  <ion-toolbar>
    <ion-title>统计</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="flex-row flex-center border-bot">

    <div class="flex-1"></div>

    <div class="flex-row flex-column margin-right-10  padding-top-20" (click)='check("A")'>
      <div class="txt-gray txt-bold" [class]='checks=="A"?"h7_5 txt-bold":"h8 txt-gray"'>每日销量</div>
      <div class="unders margin-top-16" [class.bg-blue]='checks=="A"'></div>
    </div>

    <div class="flex-row flex-column  margin-left-10 padding-top-20" (click)='check("B")'>
      <div class="h8 txt-gray txt-bold" [class]='checks=="B"?"h7_5 txt-bold":"h8 txt-gray"'>商品销量</div>
      <div class="unders margin-top-16" [class.bg-blue]='checks=="B"'></div>
    </div>
    <div class="flex-1"></div>
  </div>



  <div [class.show]='checks=="B"'>
    <!-- <div>1</div> -->
    <div id="lineChart" class="echarts" style=""></div>

    <div class="height-20 bg-gray margin-top-20"></div>

    <div class="">
      <div class="flex-row flex-center white_block2 border-bot">
        <div class="h7_5 flex-1">日期</div>
        <div class="h7_5 margin-right-20">销量</div>
      </div>

      <div *ngFor='let item of cutlist'>
        <div class=" white_block border-bot flex-row flex-center">
          <div class="h7_5 flex-1">{{item.cuttime}}</div>
          <div class="h7_5 txt-blue margin-right-20">{{item.count}}</div>
        </div>
      </div>

    </div>


  </div>

  <div [class.show]='checks=="A"'>
    <!-- <div>2</div> -->

    <div class="flex-row flex-center margin-20">
      <div class="padding-20 bg-red txt-white" (click)='day(3)'>三天</div>
      <div class="padding-20 bg-blue txt-white"(click)='day(7)'>七天</div>
      <div class="padding-20 bg-orange txt-white"(click)='day(30)'>三十天</div>
    </div>

    <div id="lineChart2" style="width: 350px;height:300px;"></div>


    <div class="height-20 bg-gray margin-top-20"></div>

    <div class="">
      <div class="flex-row flex-center white_block2 border-bot">
        <div class="h7_5 flex-1">商品</div>
        <div class="h7_5 margin-right-20">销量</div>
      </div>

      <div *ngFor='let item of cutlist2'>
        <div class=" white_block border-bot flex-row flex-center">
          <div class="h7_5 flex-1">{{item.modelname}}/{{item.classifyname}}</div>
          <div class="h7_5 txt-blue margin-right-20">{{item.count}}</div>
        </div>
      </div>

    </div>

  </div>

</ion-content>