<ion-header>
  <ion-toolbar>
    <div class="border-bot   ">
      <img src="{{assets}}res/back.png" class="icon-back margin-left-20" (click)='back()' />
      <ion-title>齿轮比设置</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="device==null">
    无绑定设备
  </div>
  <div *ngIf="device!=null&&online==false">
    设备已离线
  </div>
  <div *ngIf="device!=null&&online==true" class="blocks2 flex-row flex-center border-bot">
     
    <div class="h8 flex-1   margin-top-10">X轴</div>
    <!-- <input class="inputs h7_5 text-right" type='text' value="{{memberInfo.daoya1}}" oninput = "value=value.replace(/[^\d]/g,'')"  (keyup)="set($event)" (click)='click(1)' [(ngModel)]="daoya1"  name="1"/> -->
    <!-- <ion-range (ionChange)='changes($event,1);update()'  min="0" max="2000" step="10" value='{{value1}}' debounce='500' name='sudu' color="primary"
      class="range-knob-min"  pin="true"> 

      <ion-label slot="end" class="h8">{{value1}}</ion-label>
    </ion-range>  -->

    <ion-input class=" txt-blue h7_5 border-bot margin-right-10 text-right" type='text' value="{{value1}}"
          (ionChange)="changes($event,1);update()" ></ion-input>
    <!-- <img src="{{assets}}res/forward.png" class="icon-forward margin-left-20" /> -->
  </div>

  <div class="blocks2 flex-row flex-center border-bot">
    
    <div class="h8 flex-1   margin-top-10">Y轴</div>
 
    <!-- <ion-range (ionChange)='changes2($event,2);update()'   min="0" max="2000" step="10" value='{{value2}}' debounce='500' name='sudu' color="primary"
      class="range-knob-min"  pin="true">  
      <ion-label slot="end" class="h8">{{value2}}</ion-label>
    </ion-range>  -->

    <ion-input class=" txt-blue h7_5 border-bot margin-right-10 text-right" type='text' value="{{value2}}"
    (ionChange)="changes2($event,2);update()" ></ion-input> 

  </div>

</ion-content>
